@import '~bootstrap/scss/bootstrap';

.box {
  //borders:
  //This will give borderss on the right and bottom of the box
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  // Set the box's height to be 1/3 of the parents heigh (.board)
  min-height: calc(100% / 3);

  // Flexbox
  display: flex;
  justify-content: center;
  align-items: center;

  // :nth-child pseudo class will start counting at the beginning
  // and select each "nth" -child sibling element of (box)
  // passing 3n will select every third element
  // This will be a sass nesyed selector, using the & to effecttively get
  // .bx:nth-child
  &:nth-child(3n){
    border-right:0
  }

  // -1n + 3 will end up grabbing the final 3 boxes in the grid
  // Based on different values of 'n':
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.board {
  // Set the margins to auto
  margin: auto;
  // Set the max size of the board
  //100 vh means 100% of the browsers max-height
  // Subtract 75px to give it some spacing at the bottom
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.container {
  height: 100vh;
}

#sign-in {
  margin-top: 25px;
}

#sign-out {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px 15px;
}

#change-password {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
}

#new-game {
  margin: auto;
}
