@import '~bootstrap/scss/bootstrap';

body {
  background-color: #D5CE68;
  font-family: comic sans ms, cursive, sans-serif;
  color: #7368D5;
}

p {
  color: #25C13F;
}

h1 {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #D5CE68;
  border-bottom: 1px solid #7368D5;
  border-right: 1px solid #7368D5;
  min-height: calc(100% / 3);

  // Flexbox
  display: flex;
  justify-content: center;
  align-items: center;


  &:nth-child(3n){
    border-right:0
  }
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.container {
  height: 100vh;
}

#sign-in {
  margin-top: 25px;
}

#sign-out {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 15px;
}

#change-password {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
}

#new-game {
  margin: auto;
}
